
<br>
<h2>Features</h2>
<table class="aboutTable">

    <tr>
        <td style="width:24%">
            <span class="material-symbols-outlined icons markDoneBtn no-hover">
                check_circle
            </span>
        </td>
        <td>
            <u><span class="contentTitle">Mark Done</span></u>
            <br>
            Easily track your progress and stay on top of your to-do list.
            Completed tasks are automatically moved to a separate list or section,
            allowing you to visualize your accomplishments and prioritize your remaining tasks with ease.
        </td>
    </tr>

    <tr>
        <td style="width:24%">
            <span class="material-symbols-outlined icons markUndoneBtn no-hover">
                undo
            </span>
        </td>
        <td>
            <u><span class="contentTitle">Mark Undone</span></u>
            <br>
            "Undo" the completion of a task by moving it back to their to-do list.
        Helpful for users who may have marked a task as done accidentally,
        or who need to revisit a task that they thought was completed
        but requires further attention.
        </td>
    </tr>

    <tr>
        <td style="width:24%">
            <span class="material-symbols-outlined icons binBtn no-hover">
                delete
            </span>
        </td>
        <td>
            <u><span class="contentTitle">Remove</span></u>
            <br>
            Delete a task that they no longer need or want to complete.
            Removing a task from the list helps users to declutter their workspace
            and stay focused on the tasks that are most important to them.
            Useful for individuals who want to keep their
            to-do lists up-to-date and free from unnecessary distractions.
        </td>
    </tr>
    
    

    
</table>

<br><br><br><br>
<h3>Stay motivated and achieve your goals with our powerful task management tool!</h3>